*{
    box-sizing:border-box;
}
.container {
    overflow: auto;
}
a:link{
    color:cyan
}
a:hover{
    color:orangered;
    font-size: 1.1em;
}
a:active{
    color:orange;
    font-size: 1.1em;
}
a:visited{
    color: cyan;
}
img{
    width:75px;
    height:75px;
    margin: auto;
    align-content: center;
    place-items: center;
}
#virus:hover{
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}
#john{
    width:48%;
    height:69%;
    margin: auto;
}
#pepe{
    width:75px;
    height:75px;
    margin: auto;
    padding: 10px;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}
#pepe:hover{
    animation-name: slideRight;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}
#pepe-lonely{
    width:48%;
    height:69%;
    margin: auto;
}
#pepe-lonely:hover{
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}
#smug-frog{
    width:75px;
    height:75px;
    margin: auto;
    opacity: 0;
}
#smug-frog:hover{
    opacity: 100;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}
#john:hover{
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}
#bird:hover{
    animation-name: slideDown;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: normal;
    animation-play-state: running;
}
#name:hover{
    color:red;
}
body{
    background-color:black;
	margin: 0;
    padding: 0;
	width:100%;
	overflow-x: hidden;
    display: flex;
}
main{
    background-color:black;
	width:100%;
}
div{
    margin: auto;
    background-color:black;
	box-sizing: border-box;
    color:rgb(0, 255, 175);
    border: 2px solid rgb(0, 255, 175);
    font-size: 1vw;
    text-align: center;
    justify-content: center;
    place-items: center;
    align-items: center;
    width:100%;
    height:12%;
    padding: 5px;
}
section{
    margin: auto;
    background-color:black;
    color:rgb(0, 255, 175);
    margin: auto;
    border: 2px solid rgb(0, 255, 175);
    font-size: 1vw;
    text-align: center;
    justify-content: center;
    place-items: center;
    align-items: center;
    width:100%;
    height:88%;
    padding: 5px;
}
p{
    margin: auto;
    font-size: 5vw;
    text-align:center;
}
@keyframes slideLeft{
    from{transform: translateX(300%)}
}
@keyframes slideRight{
    to{transform: translateX(300%)}
}
@keyframes slideUp{
    from{transform: translateY(300%)}
}
@keyframes slideDown{
    to{transform: translateY(300%)}
}
@keyframes rotate{
    25%{transform: rotateX(360deg)}
}
@keyframes grow{
    100%{transform: scale(2, 2)}
}
@keyframes shrink{
    50%{transform: scale(0.5, 0.5)}
}
@keyframes fade{
    50%{opacity: 0}
}
@keyframes colorChange{
    0%{background-color:red}
    20%{background-color:blue}
    40%{background-color:green}
    60%{background-color:yellow}
    80%{background-color:indigo}
    100%{background-color:aqua}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px yellow}
}
@media (max-width: 1130px) {
    img{
        width: 10px;
        height: 10px;
    }
    #pepe{
	 width: 10px;
	 height: 10px;
    }
    #smug-frog{
	width: 10px;
	height: 10px;
    }
}
